@font-face {
  font-family: 'mikado';
  src: url('../fonts/mikado.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: rgba(255, 247, 228, 1);
}

/* Add small button to design system (seem the css for small button is missing) */
.mkr__button--small {
  padding: calc(1.0rem - 1px) calc(1.0rem - 1px) !important;
}