:root {
    --base-interactive: darkcyan;
    --base-green: lightgreen;
    --base-yellow: goldenrod;
    --base-red: lightcoral;
    --color-background: #f8f7fa;
    --color-background-sup: #f3f2f7;
}

html {
    background: 
        linear-gradient(to top right, transparent, var(--color-background) 90%),
        linear-gradient(45deg, transparent 49%, var(--color-background-sup) 49% 51%, transparent 51%) , 
        linear-gradient(-45deg, transparent 49%, var(--color-background-sup) 49% 51%, transparent 51%)
        ;
    background-size: 15rem 15rem;
    background-color: var(--color-background);
}

.background-color-interactive {
    background-color: var(--base-interactive);
}
.background-color-green {
    background-color: var(--base-green);
}
.background-color-yellow {
    background-color: var(--base-yellow);
}
.background-color-red {
    background-color: var(--base-red);
}

input[type="text"], textarea {
    border: 0.1rem solid darkslategrey;
    border-radius: 0.3rem;
    padding: 0rem 0.5rem;
}